<!-- breadcrumb-->
<nav class="mb-8">
  <ol class="flex">
    <li>
      <a routerLink="/">Friends</a>
    </li>
    <li>
      <span class="mx-2 text-neutral-500">/</span>
    </li>
    <li class="text-neutral-500">{{ friendName }}</li>
  </ol>
</nav>

<div>
  <h3
    *ngIf="friendDetails?.name; else skeleton"
    class="text-2xl uppercase font-light mb-6"
  >
    {{ friendDetails?.name }}
  </h3>
  <img
    *ngIf="friendDetails?.image; else imageskeleton"
    class="max-h-[200px] rounded-md"
    src="{{ friendDetails?.image }}"
    alt="{{ friendDetails?.name }}"
  />
  <p *ngIf="friendDetails?.description; else skeleton" class="my-8">
    {{ friendDetails?.description }}
  </p>
  <p *ngIf="friendDetails?.favourite_dialogue; else skeleton">
    Favourite Dialogue:
    <span class="italic"
      >&OpenCurlyDoubleQuote;{{
        friendDetails?.favourite_dialogue
      }}&CloseCurlyDoubleQuote;;</span
    >
  </p>
</div>

<ng-template #skeleton>
  <ngx-skeleton-loader></ngx-skeleton-loader>
</ng-template>

<ng-template #imageskeleton>
  <ngx-skeleton-loader [theme]="{ height: '200px' }"></ngx-skeleton-loader>
</ng-template>
